# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
db.sqlite3
**/__pycache__/
env
**/staticfiles
**/*pyc
planting/static/images/
planting/static/media/
dist/
node_modules/
static/bower_components