# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
db.sqlite3
**/__pycache__/
env
**/staticfiles
**/*pyc
planting/static/images/
planting/static/media/

# Node modules
node_modules
npm-debug.log

# Bower components
static/bower_components/

# Uglified Javascript
dist/