<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>登入</h1>

    <div class="well">
      <form role="form" ng-submit="vm.login()">
        <div class="alert alert-danger" ng-show="error" ng-bind="error">

        <div class="form-group">
          <label for="login__username">用户名</label>
          <input type="text" class="form-control" id="login__username" ng-model="vm.username" placeholder="ex. 17682371888" />
        </div>

        <div class="form-group">
          <label for="login__password">密码</label>
          <input type="password" class="form-control" id="login__password" ng-model="vm.password" placeholder="ex. 请输入密码" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>
